.form{
    display: flex;
    flex-direction: column;
    max-width: 177px;
    margin-left: 1em;

}
.form>input[type="submit"]{
    margin-top: 1em;
    width: 100%;
}
.form>label>div{
    margin: 1em 0;
    color:red;
    font-weight: 600;
}