.avatar{
    display: flex;
    flex-direction: column;
    width:30%;
}
.avatar img{
    width:10%;
    height:10%;
}
.list{
    display:flex;
    font-size:16px;
    align-items:center;
   
}
.listItem{
    font-weight:600;
    font-size:20px;
}
.active{
    font-weight:600;
    font-size:20px;
}
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
}
.pagination ul{
    padding: 0 10px;
}